
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

  <!-- Footer -->
    <footer class="footer">
        © 2019 - 2020 HOUSEKEEP <span class="d-none d-sm-inline-block"> - Built with <i class="mdi mdi-heart text-danger"></i> by Silexsecure Lab</span>.
    </footer>

    <!-- End Footer -->


    <!-- jQuery  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/metismenu.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/waves.min.js"></script>

    <!--Morris Chart-->
    <script src="/plugins/morris/morris.min.js"></script>
    <script src="/plugins/raphael/raphael.min.js"></script>

    <script src="/assets/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.js"></script>

</body>

</html>